

<div class="dashboard-header">
    <h2 class="title p-4"></h2>
 </div>
 <ul class="nav flex-column">
  <li class="nav-item d-flex align-items-center">
    <a class="nav-link d-flex align-items-center text-dark py-2 px-3" routerLink="/patient">
      <i class="bi bi-plus-lg fs-3 icon-bold me-2"></i> Add Patient
    </a>
  </li>
  <li class="nav-item d-flex align-items-center">
    <a class="nav-link d-flex align-items-center text-dark py-2 px-3" routerLink="/orders">
      <i class="bi bi-journal-text fs-3 icon-bold me-2"></i> View Orders
    </a>
  </li>
  <li class="nav-item d-flex align-items-center">
    <a class="nav-link d-flex align-items-center text-dark py-2 px-3" routerLink="/check">
      <i class="bi bi-cart-check fs-3 icon-bold me-2"></i> Checkout
    </a>
  </li>
  <li class="nav-item d-flex align-items-center">
    <a class="nav-link d-flex align-items-center text-dark py-2 px-3" routerLink="/logout">
      <i class="bi bi-box-arrow-in-left fs-3 icon-bold me-2"></i> Logout
    </a>
  </li>
</ul>


