/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root {
    display: block;
    min-height: 100vh;
    width: 100vw;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    overflow-x: hidden;
  }

  app-header{
    border-bottom: 1px solid rgba(48, 48, 48, 0.2);
  }